.form__login {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.form__label__login {
  font-family: "Segoe UI";
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.form__input-text__login {
  /* display: flex; */
  font-family: "Segoe UI";
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #151517;
  display: inline-block;

  margin-bottom: 1.8em;
  margin-top: 1.2em;
  padding: 0.5em 1em;
  width: 80%;
}

.img__logo__login {
  max-height: 72px;
  margin-bottom: 35px;
}

/* .form__label-tit2 {
    margin-top: 1.5em;
    color: #151517;
} */

/* .button,
.form__submit {
    border: none;
    border-radius: 0.25em;
    cursor: pointer;
    margin: 1.4em 0;
    padding: 1em 1em;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    
    justify-self: center;
    justify-items: center;
    justify-content: center;
    text-align: center; 

    width: 75%;
} */

a {
  text-decoration: none;
}

.form__submit__button--login {
  border: none;
  border-radius: 0.25em;
  background-color: #3593d1;
  color: #fff;
  cursor: pointer;
  margin: 1.4em 0;
  padding: 1em 1em;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  transition: all 0.3s;

  /* justify-self: center;
    justify-items: center; */
  justify-content: center;
  /* text-align: center;  */

  width: 75%;
}

.form__submit__button--login:hover {
  background-color: #0553e4;
  box-shadow: 0 0px 3px #3593d1;
  color: white;
}

/* .button--success,
.button--primary,
.form__submit {
    background-color: #038303;
    color: white;
}

.button--success:hover,
.button--primary:hover,
.form__submit:hover {
    background-color: #149903;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
} */

/* .button--primary {
    background-color: #007bff;
    color: white;
} */

/* .button--primary:hover {
    background-color: #0768cf;
} */

/* .button--danger {
    background-color: #E22424;
    color: white;
}

.button--danger:hover {
    background-color: #fd2e43;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
} */
