.form__login {
  background-color: #fff;
  display: flex;
  margin: 0 auto;
  width: 50vw;
  height: 100vh;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-items: center;
  justify-content: center;
  text-align: center;
}

.form__label__login {
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.form__input-text__login {
  /* display: flex; */
  font-size: 16px;
  font-weight: 400;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #151517;
  display: inline-block;

  margin-bottom: 1.8em;
  margin-top: 1.2em;
  padding: 0.5em 1em;
  width: 80%;
}

.img__logo__login {
  max-height: 72px;
  margin-bottom: 35px;
}


a {
  text-decoration: none;
}

.form__submit__button--login {
  border: none;
  border-radius: 0.25em;
  background-color: #3593d1;
  color: #fff;
  cursor: pointer;
  margin: 1.4em 0;
  padding: 1em 1em;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  transition: all 0.3s;


  justify-content: center;
  width: 75%;
}

.form__submit__button--login:hover {
  background-color: #0553e4;
  box-shadow: 0 0px 3px #3593d1;
  color: white;
}

