.MuiTabs-indicator .css-1aquho2-MuiTabs-indicator{
    background-color: white;
}

.MuiTabs-indicator{
    background-color: blueviolet;
}

.MuiTypography-root .MuiTypography-body1 .css-ahj2mt-MuiTypography-root{
    display: flex;
    justify-content: center;
}