.dv__button {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}


button.button--user {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 15px;
  cursor: pointer;
  border-radius: 0.25em;
  border: 1px solid #ccc;
  background-color: #1d3557;
  color: #fff;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding: 1em 1em;
  width: 100%;
  text-decoration: none;
  transition: all 0.3s;
  justify-content: center;
}

button.button--user:hover {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 15px;
  cursor: pointer;
  border-radius: 0.25em;
  border: 1px solid #ccc;
  background-color: #0958c5;
  color: #fff;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding: 1em 1em;
  width: 100%;
  text-decoration: none;
  transition: all 0.3s;
  justify-content: center;
}


.css-1qanl46-MuiGrid-root {
  align-items: center;
}

label.MuiInputLabel-root,
.MuiInputLabel-formControl,
.MuiInputLabel-animated,
.MuiInputLabel-shrink,
.MuiInputLabel-outlined,
.MuiFormLabel-root,
.MuiFormLabel-colorPrimary,
.MuiFormLabel-filled,
.Mui-required,
.css-1kty9di-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 17px;
}

p.MuiFormHelperText-root,
.MuiFormHelperText-sizeMedium,
.MuiFormHelperText-contained,
.MuiFormHelperText-filled,
.Mui-required .css-1wc848c-MuiFormHelperText-root {
  font-size: 15px;
}

button.manager__deleted {
  background-color: #ff3b2f;
  border-radius: 0.25em;
  transition: all 0.3s;
  padding: 1em 1em;
}

.App__option-delete {
  text-align: left !important;
}

/* MuiButton-root MuiButton-contained MuiButton-containedPrimary MuiButton-sizeSmall MuiButton-containedSizeSmall MuiButtonBase-root manager__deleted css-1j2g15t-MuiButtonBase-root-MuiButton-root */

@media only screen and (max-width: 768px) {
  button.manager__deleted {

   width: 100%;

    
  }
}
