.container__Home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2rem 0 2rem 0;
  row-gap: 2.5rem;
}

.wrapper__promo {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.wrapper__text-info {
  h3 {
    margin: 1rem;
  }
  p {
    margin: 0.8rem auto;
    text-align: center;
    width: 60%;
  }
}
