.container__filterMenu {
  display: flex;
  flex-direction: column;
  min-width: 10rem;
  max-width: 15rem;
  margin: 3rem 0 1rem 0;
  
  .wrapper__filters {
    display: flex;
    flex-direction: column;
  }
}
