.container__bookCard{
    display: flex;
    flex-direction: column;
    padding: 1rem .4rem .4rem .4rem;
    row-gap: .4rem;
    width: fit-content;
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}